<app-popup-template (close)="exit()">
    <ng-container header>
        {{data==undefined ? 'Add motherboard' : 'Edit motherboard'}}
    </ng-container>
    <ng-container body>
        <form [formGroup]="newForm" #form="ngForm">
            <div class="form-element">
                 <label>Name</label>
                 <input type="text" formControlName="name" [ngClass]=" form.submitted && !newForm.get('name')?.valid ? 'is-invalid' : ''">
                 <ng-container *ngIf="form.submitted && !newForm.get('name')?.valid">
                     <div class="invalid-feedback" >This field is required</div>
                 </ng-container>
             </div>
             <div class="form-element">
                <label>Image Url</label>
                <input type="text" formControlName="imageUrl" [ngClass]=" form.submitted && !newForm.get('imageUrl')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('imageUrl')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <img [src]="newForm.value.imageUrl" onerror ="this.src = 'assets/svg/default-image.svg'" alt="photo" srcset="" width="100px" height="100px">
            </div>
            <div class="form-element">
                <label>Socket</label>
                <input type="text" formControlName="socket" [ngClass]=" form.submitted && !newForm.get('socket')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('socket')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Form Factor</label>
                <input type="text" formControlName="formFactor" [ngClass]=" form.submitted && !newForm.get('formFactor')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('formFactor')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Max memory</label>
                <input type="number" formControlName="maxMemory" [ngClass]=" form.submitted && !newForm.get('maxMemory')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('maxMemory')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Memory slots</label>
                <input type="number" formControlName="memorySlot" [ngClass]=" form.submitted && !newForm.get('memorySlot')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('memorySlot')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Color</label>
                <input type="text" formControlName="color" [ngClass]=" form.submitted && !newForm.get('color')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('color')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="save(form,$event)">Add</app-button>
    </ng-container>
</app-popup-template>