@import '../../../variables.scss';
.category-dropdown{
    position: relative;
    padding: 0.2rem 1rem;
    height: 32px;
    width: 100%;
    box-shadow: $normal-shadow;
    border-radius: $border-radius-input;
    background-color: white;
    .icon{
        position: absolute;
        top: 5px;
        right: 25px;
        width: 20px;
        height: 20px;
        background-image: url("../../../assets/svg/arrow-icon-down.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 5;
    }
    .current-selected{
        display: flex;
        width: 405px;
        gap: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius-input;
            background: grey;
        }
    }
}
.dropdown-container{
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    background-color: $inactive;
    box-shadow: $normal-shadow;
    height: 100px;
    overflow: auto;
    border-radius: $border-radius-background;
    padding: 0.5rem;
    display: flex;
    gap: 10px;
    z-index: 1;
    .category-box{
        height: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
.category{
    cursor: pointer;
    user-select: none;
    border-radius: $border-radius-background;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    font-size: $font-small;
}
.invalid-feedback_for_custom_input{
    color: red;
    font-size: $font-small;
    position: absolute;
    margin-left: 1rem;
    top: 3.6rem;
  }
