<app-popup-template [isVisible]="isVisible" [waiting]="waiting" [access]="getUser()" (close)="exit()">
    <ng-container header>
        Add new thread
    </ng-container>
    <ng-container body>
        <form [formGroup]="threadForm" #form="ngForm">
           <div class="form-element">
                <label>Thread title</label>
                <input type="text" formControlName="title" [ngClass]=" form.submitted && !threadForm.get('title')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !threadForm.get('title')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Thread category</label>
                <div class="category-dropdown" [ngClass]="form.submitted && selectedCategoryArray.length==0 ? 'ng-invalid':''">
                    <div class="current-selected">
                        <div *ngFor="let selectedCategory of selectedCategoryArray" [@bounceInOnEnter] [@bounceOutOnLeave]>
                            <app-category-label [bgColor]="selectedCategory.bgColor" [color]="selectedCategory.color" [name]="selectedCategory.name"></app-category-label>
                        </div>
                    </div>
                    <div class="icon" (click)="toggleOpen()"></div>
                    <div *ngIf="isOpen" class="dropdown-container" [@zoomInOnEnter] [@zoomOutOnLeave]>
                        <div *ngFor="let category of threadCategory$ |async" class="category-box">
                            <app-category-label class="category" (click)="selectedCategory(category)" [bgColor]="category.bgColor" [color]="category.color" [name]="category.name"></app-category-label>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="form.submitted && selectedCategoryArray.length==0">
                    <div class="invalid-feedback_for_custom_input" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Thread description</label>
                <textarea formControlName="description"></textarea>
            </div> 
        </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="addThread(form,$event)">Add</app-button>
    </ng-container>
</app-popup-template>