<div class="main-container">
    <ng-container *ngIf="thread$ | async as thread$; else loader" >
        <ng-container *ngIf="posts$ | async as posts$; else loader">
            <app-toolbar [findPopupName]="'search-post'" (resetEvent)="resetFilter()" [dataLength]="posts$.length" [currentPageSize]="pageSize" [currentPage]="page" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
                <ng-container bar>
                    <app-button [explenation]="'add post'" [custom]="true">
                        <div class="circle-button add" (click)="openPopup('add-post')"></div>
                    </app-button>
                </ng-container>
            </app-toolbar>
            <div class="container">
                <ng-container *ngIf="thread$.length>0 else noResult">
                    <app-thread-label *ngFor="let thread of thread$" [thread]="thread" ></app-thread-label>
                        <ng-container *ngIf="posts$.length>0 else noResultPost">
                            <div [@fadeInLeftOnEnter] class="post" *ngFor="let post of posts$">
                                <div class="content">
                                    <div class="header">
                                        <div>
                                            <span>{{post.title }}</span>
                                        </div>
                                        <div class="date">
                                            {{post.createDate | date : 'short'}}
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="description-content">
                                            <app-user-icon-circle [roleId]="post.roleId" [text]="post.user" [path]="post.pathUserImage"></app-user-icon-circle>
                                            <div>
                                                <span>{{post.body  | artilce}}</span>
                                            </div>
                                        </div>
                                        <div class="reactions">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noResult>
    <app-empty-state [text]="'No result found'"></app-empty-state>
</ng-template>
<ng-template #noResultPost>
    <app-empty-state [text]="'No posts added'"></app-empty-state>
</ng-template>
