<!-- <div class="main-container">
    <ng-container *ngIf="parts$ | async as parts$">
        <app-toolbar [dataLength]="parts$.length" [currentPage]="page" [currentPageSize]="pageSize" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
            <ng-container bar>
                <app-button [explenation]="'Find'" [custom]="true">
                    <div class="circle-button find" (click)="openPopup('search-part')"></div>
                </app-button>
                <app-button [explenation]="'reset filter'" [custom]="true">
                    <div class="circle-button reset-filter" (click)="resetFilter()"></div>
                </app-button>
            </ng-container>
        </app-toolbar>
        <div class="container part-container">
            <ng-container *ngIf="parts$.length>0">
                <app-part *ngFor="let part of parts$" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating">
                    <ng-container specification>
                        <div *ngIf="part.wattage">Watttage: {{part.wattage}} W</div>
                        <div *ngIf="part.color">Color: {{part.color | titlecase}}</div>
                        <div *ngIf="part.modular">Modular: {{part.modular | titlecase}}</div>
                        <div *ngIf="part.efficiency">Efficiency: {{part.efficiency | titlecase}}</div>
                        <div *ngIf="part.type">Type: {{part.type | uppercase}}</div>
                        <div *ngIf="part.cores">Cores: {{part.cores}}</div>
                        <div *ngIf="part.threads">Threads: {{part.threads}}</div>
                        <div *ngIf="part.graphics">Graphics: {{part.graphics ? "Yes" : "No"}}</div>
                        <div *ngIf="part.tdp">TDP: {{part.tdp}}</div>
                        <div *ngIf="part.socket">Socket: {{part.socket | uppercase}}</div>
                        <div *ngIf="part.threads">Threads: {{part.threads}}</div>
                        <div *ngIf="part.rpmLower && part.rpmUpper">RPM: {{part.rpmLower}} - {{part.rpmUpper}}</div>
                        <div *ngIf="part.noiseLower && part.noiseUpper">Noise: {{part.noiseLower}} - {{part.noiseUpper}}</div>
                        <div *ngIf="part.size">Size: {{part.size}} L</div>
                        <div *ngIf="part.formFactor">Form Factor: {{part.formFactor}}</div>
                        <div *ngIf="part.maxMemory">Max Memory: {{part.maxMemory}}</div>
                        <div *ngIf="part.memorySlot">Slots: {{part.memorySlot}}</div>
                        <div *ngIf="part.speed">Speed: {{part.speed}}</div>
                        <div *ngIf="part.modulesLower">Modules lower: {{part.modulesLower}}</div>
                        <div *ngIf="part.modulesUpper">Modules upper: {{part.modulesUpper}}</div>
                        <div *ngIf="part.cl">CL: {{part.cl}}</div>
                        <div *ngIf="part.capacity">Capacity: {{part.capacity}}</div>
                        <div *ngIf="part.cache">Cache: {{part.cache}} MB</div>
                        <div *ngIf="part.chipset">Chipset: {{part.chipset}}</div>
                        <div *ngIf="part.interfaces">Interfaces: {{part.interfaces}}</div>
                        <div *ngIf="part.memory">Memory: {{part.memory}}</div>
                        <div *ngIf="part.coreClock">Core Clock: {{part.coreClock}} GHz</div>
                        <div *ngIf="part.boostClock">Boost Clock: {{part.boostClock}} GHz</div>
                        <div *ngIf="part.length">Length: {{part.length}}</div>
                        <div *ngIf="part.boostClock">Boost Clock: {{part.boostClock}} GHz</div>
                        <div *ngIf="part.sidePanel">Side Panel: {{part.sidePanel}}</div>
                        <div *ngIf="part.externalVolume">External Volume: {{part.externalVolume}} L</div>
                    </ng-container>
                </app-part>
            </ng-container>
        </div>
    </ng-container>
</div> -->