@import '../../../variables.scss';
@import '../../../scss/components.scss';
.main-container{
    width: 100%;
    .header{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-purple-light;
        span{
            text-transform: uppercase;
            font-size: $font-big;
            color: white;
            font-family: boldedRegular;
        }
    }
}