@import '../../../variables.scss';
@import '../../../scss/toolbar.scss';
.main-container{
    width: 100%;
    .part-container{
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
.circle-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: $normal-shadow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    transition: all 0.3s ;
    position: relative;
    cursor: pointer;
    z-index: 1;
    &:hover{
        scale: 1.1;
    }
}
.add{
    background-image: url('../../../assets/svg/add-circle-white.svg');
}