<div class="main-container">
    <ng-container *ngIf="threads$ | async as threads$; else loader">
        <app-toolbar [currentValue]="pageSize" (pageSize)="changePageSize($event)">
            <ng-container arrow-left>
                <div class="arrow-box arrow-box-left">
                    <app-button [explenation]="'previous'" [custom]="true">
                        <div *ngIf="page>1" class="circle-button arrow-left" (click)="previous()"></div>
                    </app-button>
                </div>
            </ng-container>
            <ng-container bar>
                <app-button [explenation]="'Find'" [custom]="true">
                    <div class="circle-button find" (click)="openPopup('search-thread')"></div>
                </app-button>
                <app-button [explenation]="'reset filter'" [custom]="true" (click)="resetFilter()">
                    <div class="circle-button reset-filter" ></div>
                </app-button>
                <app-button [explenation]="'TO DO'" [custom]="true">
                    <div class="circle-button" ></div>
                </app-button>
                <app-button [explenation]="'add thread'" [custom]="true">
                    <div class="circle-button add" (click)="openPopup('add-thread')"></div>
                </app-button>
            </ng-container>
            <ng-container arrow-right>
                <div class="arrow-box arrow-box-right">
                    <app-button [explenation]="'next'" [custom]="true">
                        <div *ngIf="threads$.length==pageSize" class="circle-button arrow-right" (click)="next()"></div>
                    </app-button>
                </div>
            </ng-container>
        </app-toolbar>
        <div class="container">
            <div class="footer ">
                <div class="content">
                    <div class="header ">
                        <div>Category</div>
                        <div>Date</div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="threads$.length>0 else noResult">
                <app-thread-label *ngFor="let thread of threads$" [thread]="thread" [link]="true"></app-thread-label>
            </ng-container>        
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <div class="loader">
        <app-loader></app-loader>
    </div>
</ng-template>
<ng-template #noResult>
    <app-empty-state [text]="'No result found'"></app-empty-state>
</ng-template>
