<div class="main-container">
    <div class="toolbar">
        <app-button [explenation]="'Find'" [custom]="true">
            <div class="circle-button find" (click)="openPopup('search-thread')"></div>
        </app-button>
        <app-button [explenation]="'TO DO'" [custom]="true">
            <div class="circle-button" ></div>
        </app-button>
        <app-button [explenation]="'TO DO'" [custom]="true">
            <div class="circle-button" (click)="openPopup('add-category')"></div>
        </app-button>
        <app-button [explenation]="'add thread'" [custom]="true">
            <div class="circle-button add" (click)="openPopup('add-thread')"></div>
        </app-button>
    </div>
    <div class="threads-container">
        <div *ngFor="let thread of threads$ | async" class="thread">
            <div class="content">
                <div class="header">
                    <div class="sub-header">
                        <div class="user button-imitation">
                            {{thread.user |titlecase}}
                        </div>
                        <div class="head button-imitation">
                            <span>{{thread.title}}</span>
                        </div>
                    </div>
                    <div class="sub-header2">
                        <div class="info button-imitation">
                            {{thread.createDate | date : 'short'}}
                        </div>
                        <div class="count button-imitation">
                            Answers: {{thread.posts}}
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="label button-imitation">Description of problem</div>
                    <div class="description-content">
                        {{thread.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
