@import '../../../variables.scss';
.main-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.toolbar{
    width: 100%;
    height: 50px;
    background-color: $inactive;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.circle-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    box-shadow: $normal-shadow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    transition: all 0.3s ;
    position: relative;
    cursor: pointer;
    z-index: 1;
    &:hover{
        scale: 1.1;
    }
  }
.find{
   background-image: url('../../../assets/svg/search-icon.svg');
}
.add{
    background-image: url('../../../assets/svg/add-icon.svg');
}

.thread{
    box-shadow: $normal-shadow;
    border-radius: $border-radius-background;
    margin-top: 1rem;
    overflow: hidden;
    cursor: pointer;
    .content{
        padding: 0.5rem 1rem;
        background-color:  $inactive;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            user-select: none;
            padding-bottom: 0.2rem;
            border-bottom: 2px solid $inactive-darker;
            .date{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
    .description{
        margin-top: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user-circle{
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            box-shadow: $normal-shadow;
        }
        .reactions{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
    .react{
        width: 25px;
        height: 25px;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            scale: 1.1;
        }
    }
    .like{
        background-image: url('../../../assets/svg/like-icon.svg');
    }
    .dislike{
        background-image: url('../../../assets/svg/dislike-icon.svg');
    }
    .like-filled{
        background-image: url('../../../assets/svg/like-icon-filled.svg');
    }
    .dislike-filled{
        background-image: url('../../../assets/svg/dislike-icon-filled.svg');
    }
    .counter{
        cursor: auto;
        user-select: none;
        margin-top: 0.2rem;
        font-size: $font-small;
        text-align: center;
    }
    .seen{
        cursor: auto;
        background-image: url('../../../assets/svg/seen-icon.svg');
    }
    .home{
        cursor: pointer;
        background-image: url('../../../assets/svg/home-icon.svg');
    }
}