@import '../../../variables.scss';
.basic{
    user-select: none;
    border: none;
    padding: 0.2rem 2rem;
    border-radius:$border-radius-input;
    color: black;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 5;
}
.active{
    background: $color-purple;
    color: white;
    pointer-events: none;
}
.inactive{
    background:$inactive;
}
.sub-button{
    cursor: pointer;
    user-select: none;
    padding: 0.2rem 0;
    margin-bottom: 0.3rem;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 1000px){
    .basic{
        padding: 0.2rem 1rem;
    }
}