<ng-container *ngIf="form else withoutForm">
    <div *ngIf="category$ | async as category$" class="category-dropdown" #field [ngClass]="form.submitted && selectedCategoryArray.length==0 ? 'ng-invalid':''" (click)="toggleOpen($event)">
        <div class="current-selected">
            <div *ngFor="let selectedCategory of selectedCategoryArray" [@bounceInOnEnter] [@bounceOutOnLeave]>
                <app-category-label [bgColor]="selectedCategory.bgColor" [color]="selectedCategory.color" [name]="selectedCategory.name"></app-category-label>
            </div>
        </div>
        <div *ngIf="isOpen" class="dropdown-container" #dropdown [@zoomInOnEnter] [@zoomOutOnLeave]>
            <div *ngFor="let category of category$" class="category-box">
                <app-category-label class="category" (click)="selectedCategory(category)" [bgColor]="category.bgColor" [color]="category.color" [name]="category.name"></app-category-label>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #withoutForm>
    <div *ngIf="category$ | async as category$" class="category-dropdown" #field (click)="toggleOpen($event)">
        <div class="current-selected">
            <div *ngFor="let selectedCategory of selectedCategoryArray" [@bounceInOnEnter] [@bounceOutOnLeave]>
                <app-category-label [bgColor]="selectedCategory.bgColor" [color]="selectedCategory.color" [name]="selectedCategory.name"></app-category-label>
            </div>
        </div>
        <div *ngIf="isOpen" class="dropdown-container" #dropdown [@zoomInOnEnter] [@zoomOutOnLeave]>
            <div *ngFor="let category of category$" class="category-box">
                <app-category-label class="category" (click)="selectedCategory(category)" [bgColor]="category.bgColor" [color]="category.color" [name]="category.name"></app-category-label>
            </div>
        </div>
    </div>
</ng-template>
