<div class="main-container">
    <ng-container *ngIf="parts$ | async as parts$; else loader">
        <app-toolbar [findPopupName]="'search-hardDrive'" (resetEvent)="resetFilter()" [dataLength]="parts$.length" [currentPage]="page" [currentPageSize]="pageSize" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
            <ng-container bar>
                <app-add-part [admin]="true" [explenation]="'Add hard drive'" [popupName]="'add-hard-drive'"></app-add-part>
            </ng-container>
        </app-toolbar>
        <div class="container part-container">
            <ng-container *ngIf="parts$.length>0 else noResult">
                <ng-container *ngIf="!creator">
                    <app-part *ngFor="let part of parts$" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating" [favourite]="part.favourites">
                        <ng-container edit-button>
                            <app-edit [poupName]="'add-hard-drive'" [data]="part"></app-edit>
                        </ng-container>
                        <ng-container specification>
                            <div>Capacity: {{part.capacity}}</div>
                            <div>Cache: {{part.cache}} MB</div>
                            <div>Type: {{part.type | uppercase}}</div>
                            <div>Interfaces: {{part.interfaces}}</div>
                        </ng-container>
                    </app-part>
                </ng-container>
                <ng-container *ngIf="creator">
                    <app-part *ngFor="let part of parts$"  [disableRouterLink]="true" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating" (click)="emitPart(part)" >
                        <ng-container specification>
                            <div>Capacity: {{part.capacity}}</div>
                            <div>Cache: {{part.cache}} MB</div>
                            <div>Type: {{part.type | uppercase}}</div>
                            <div>Interfaces: {{part.interfaces}}</div>
                        </ng-container>
                    </app-part>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noResult>
    <app-empty-state [text]="'No hard-drives found'"></app-empty-state>
</ng-template>
