@import '../../../variables.scss';
.universal-button{
  position: relative;
  border: none;
  padding: 0.2rem 2rem;
  margin: 0.2rem 0;
  border-radius:$border-radius-input;
  width: 100%;
  z-index: 5;
}
.active{
  background: $color-purple;
  color: white;
  pointer-events: none;
}
.inactive{
  background:$inactive;
}