@import '../../../variables.scss';
.basic{
    border: none;
    padding: 0.2rem 2rem;
    border-radius:$border-radius-input;
    transition:  all 0.3s linear;
    color: black;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 5;
}
.active{
    background: $color-purple;
    color: white;
}
.inactive{
    background:$inactive;
}