@import '../../../variables.scss';
.custom-input{
    position: relative;
    padding: 0.2rem 1rem;
    height: 32px;
    width: 100%;
    box-shadow: $normal-shadow;
    border-radius: $border-radius-input;
    background-color: white;
    background-image: url("../../../assets/svg/arrow-icon-down.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.dropdown{
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    background-color: $inactive;
    box-shadow: $normal-shadow;
    border-radius: $border-radius-background;
    max-height: 100px;
    overflow: auto;
    z-index: 10;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius-input;
        background: grey;
    }
    .suggestion{
        padding: 0.2rem 1rem;
        transition: all 0.3s;
        user-select: none;
        cursor: pointer;
        &:hover{
            background-color: white;
        }
    }
}