//variables
@import "variables.scss";
@import "../src/scss/toast.scss";
@import "../src/scss/card.scss";
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: regular;
  font-size: $font-normal;
  scroll-behavior: smooth;
}
.for-dropdown{
  display: flex;
  position: relative;
  align-items: center;
  gap:5px
}
.section_white {
  background-color: white;
  color: black;
}
.section_purple {
  background-color: $color-purple;
  color: white;
}