//font sizes
$font-small:14px;
$font-normal:16px;
$font-large:18px;
$font-big:22px;

//font faces // font variables
@font-face {
    font-family: thinRegular;
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
    font-family: regular;
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: boldedRegular;
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
}
/// shadows for elements
$normal-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$color-purple:#262a56;
$color-purple-light:#303670;
$color-red:#FF3D00;
$inactive:#f0f0f0;
$inactive-darker:#dbdbdb;
$info-color:#A0DAA9;
$info-color-2:#00758F;
$color-orange:#D9CE52;
//radius
$border-radius-background: 0.5rem;
$border-radius-input:2rem;
//sizes
$navbar-height:60px;
$navbar-plus-footer:100px;
$footer-height:40px;
