//font sizes
$font-small:14px;
$font-normal:16px;
$font-large:18px;

//font faces // font variables
@font-face {
    font-family: thinRegular;
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
    font-family: regular;
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: boldedRegular;
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
}
/// shadows for elements
$normal-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;