@import '../../../variables.scss';
.main-container{
    width: 100%;
    .current-set{
        position: fixed;
        left: 0;
        top: 130px;
        box-shadow: $normal-shadow;
        height: calc(100vh - 200px);
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 $border-radius-background $border-radius-background 0;
        background-color: $color-purple-light;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            height: 6px;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius-background;
            background: grey;
        }
        app-part{
            user-select: none;
            margin: 1.5rem 1rem;
            cursor: pointer;
        }
    }

    .button-container{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.pagination{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-purple-light;
    box-shadow: $normal-shadow;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.search{
    position: absolute;
    left: 10px;
    top:10px;
    background-image: url('../../../assets/svg/search-icon-white.svg');
}
.previous{
    background-image: url('../../../assets/svg/arrow-white-left.svg');
}
.next{
    background-image: url('../../../assets/svg/arrow-white-right.svg');
}