<div class="main-container">
    <div class="current-set" [@bounceInLeftOnEnter] [@bounceOutLeftOnLeave] *ngIf="processor || motherboard || case || memory || powerSupply || hardDrive || processorCooler || graphics"  >
        <div class="part-selected" *ngIf="processor!=undefined"(click)="bindProperty(processor,'processor',false)">
            <span>Processor</span>
            <img [src]="processor.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="graphics!=undefined" (click)="bindProperty(graphics,'graphics',false)" >
            <span>Graphics</span>
            <img [src]="graphics.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="motherboard!=undefined" (click)="bindProperty(motherboard,'motherboard',false)">
            <span>Motherboard</span>
            <img [src]="motherboard.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="memory!=undefined" (click)="bindProperty(memory,'memory',false)">
            <span>Memory</span>
            <img [src]="memory.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="powerSupply!=undefined" (click)="bindProperty(powerSupply,'power-supply',false)">
            <span>Power Supply</span>
            <img [src]="powerSupply.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="processorCooler!=undefined"  (click)="bindProperty(processorCooler,'processor-cooler',false)">
            <span>Processor Cooler</span>
            <img [src]="processorCooler.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="case!=undefined" (click)="bindProperty(case,'case',false)">
            <span>Case</span>
            <img [src]="case.imageUrl" alt="computer part" srcset="">
        </div>
        <div class="part-selected" *ngIf="hardDrive!=undefined"(click)="bindProperty(hardDrive,'hard-drive',false)">
            <span>Hard drive</span>
            <img [src]="hardDrive.imageUrl" alt="computer part" srcset="">
        </div>
  </div>
    <app-motherboard [@fadeInOnEnter] *ngIf="selectedType=='motherboard'" [creator]="true" (part)="bindProperty($event,'motherboard',true)"></app-motherboard>
    <app-processors [@fadeInOnEnter] *ngIf="selectedType=='processor'" [creator]="true" (part)="bindProperty($event,'processor',true)"></app-processors>
    <app-case [@fadeInOnEnter] *ngIf="selectedType=='case'" [creator]="true" (part)="bindProperty($event,'case',true)"></app-case>
    <app-memory [@fadeInOnEnter] *ngIf="selectedType=='memory'" [creator]="true" (part)="bindProperty($event,'memory',true)"></app-memory>
    <app-power-supply [@fadeInOnEnter] *ngIf="selectedType=='power-supply'" [creator]="true" (part)="bindProperty($event,'power-supply',true)"></app-power-supply>
    <app-graphics [@fadeInOnEnter] *ngIf="selectedType=='graphics'" [creator]="true" (part)="bindProperty($event,'graphics',true)"></app-graphics>
    <app-hard-drive [@fadeInOnEnter] *ngIf="selectedType=='hard-drive'" [creator]="true" (part)="bindProperty($event,'hard-drive',true)"></app-hard-drive>
    <app-processor-cooler [@fadeInOnEnter] *ngIf="selectedType=='processor-cooler'" [creator]="true" (part)="bindProperty($event,'processor-cooler',true)"></app-processor-cooler>
    <div class="button-container" *ngIf=" processor && motherboard && case && memory && powerSupply && hardDrive && processorCooler && graphics">
        <app-button (click)="addSet()">Add your set</app-button>
    </div>
</div>
