<div class="main-container">
    <div class="current-set" [@bounceInLeftOnEnter] [@bounceOutLeftOnLeave] *ngIf="processor || motherboard || case || memory || powerSupply || hardDrive || processorCooler || graphics"  >
        <app-part *ngIf="processor!=undefined" [disableRouterLink]="true" [partId]="processor.id" [name]="processor.name" [imageUrl]="processor.imageUrl" [comments]="processor.commentsCount" [rating]="processor.rating" (click)="bindProperty(processor,'processor',false)">
            <ng-container specification>
                <div>Cores: {{processor.cores}}</div>
                <div>Threads: {{processor.threads}}</div>
                <div>Graphics: {{processor.graphics ? "Yes" : "No"}}</div>
                <div>TDP: {{processor.tdp}}</div>
                <div>Socket: {{processor.socket | uppercase}}</div>
                <div>Threads: {{processor.threads}}</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="graphics!=undefined" [disableRouterLink]="true" [partId]="graphics.id" [name]="graphics.name" [imageUrl]="graphics.imageUrl" [comments]="graphics.commentsCount" [rating]="graphics.rating" (click)="bindProperty(graphics,'graphics',false)" >
            <ng-container specification>
                <div>Chipset: {{graphics.chipset}}</div>
                <div>Memory: {{graphics.memory}}</div>
                <div>Core Clock: {{graphics.coreClock}} GHz</div>
                <div>Boost Clock: {{graphics.boostClock}} GHz</div>
                <div>Length: {{graphics.length}}</div>
                <div>Color: {{graphics.color | titlecase}}</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="motherboard!=undefined" [disableRouterLink]="true" [partId]="motherboard.id" [name]="motherboard.name" [imageUrl]="motherboard.imageUrl" [comments]="motherboard.commentsCount" [rating]="motherboard.rating" (click)="bindProperty(motherboard,'motherboard',false)">
            <ng-container specification>
                <div>Socket: {{motherboard.socket}}</div>
                <div>Form Factor: {{motherboard.formFactor}}</div>
                <div>Max Memory: {{motherboard.maxMemory}} GB</div>
                <div>Slots: {{motherboard.memorySlot}}</div>
                <div>Color: {{motherboard.color | titlecase}}</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="memory!=undefined" [disableRouterLink]="true" [partId]="memory.id" [name]="memory.name" [imageUrl]="memory.imageUrl" [comments]="memory.commentsCount" [rating]="memory.rating" (click)="bindProperty(memory,'memory',false)">
            <ng-container specification>
                <div>Speed: {{memory.speed}}</div>
                <div>Modules lower: {{memory.modulesLower}}</div>
                <div>Modules upper: {{memory.modulesUpper}}</div>
                <div>CL: {{memory.cl}}</div>
                <div>Color: {{memory.color}}</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="powerSupply!=undefined" [disableRouterLink]="true" [partId]="powerSupply.id" [name]="powerSupply.name" [imageUrl]="powerSupply.imageUrl" [comments]="powerSupply.commentsCount" [rating]="powerSupply.rating" (click)="bindProperty(powerSupply,'power-supply',false)">
            <ng-container specification>
                <div>Watttage: {{powerSupply.wattage}} W</div>
                <div>Color: {{powerSupply.color | titlecase}}</div>
                <div>Modular: {{powerSupply.modular | titlecase}}</div>
                <div>Efficiency: {{powerSupply.efficiency | titlecase}}</div>
                <div>Type: {{powerSupply.type | uppercase}}</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="processorCooler!=undefined" [disableRouterLink]="true" [partId]="processorCooler.id" [name]="processorCooler.name" [imageUrl]="processorCooler.imageUrl" [comments]="processorCooler.commentsCount" [rating]="processorCooler.rating" (click)="bindProperty(processorCooler,'processor-cooler',false)">
            <ng-container specification>
                <div>RPM: {{processorCooler.rpmLower}} - {{processorCooler.rpmUpper}}</div>
                <div>Noise: {{processorCooler.noiseLower}} - {{processorCooler.noiseUpper}}</div>
                <div>Size: {{processorCooler.size}} L</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="case!=undefined" [disableRouterLink]="true" [partId]="case.id" [name]="case.name" [imageUrl]="case.imageUrl" [comments]="case.commentsCount" [rating]="case.rating" (click)="bindProperty(case,'case',false)">
            <ng-container specification>
                <div>Type: {{case.type | uppercase}}</div>
                <div>Color: {{case.color | titlecase}}</div>
                <div>Side Panel: {{case.sidePanel}}</div>
                <div>External Volume: {{case.externalVolume}} L</div>
            </ng-container>
        </app-part>
        <app-part *ngIf="hardDrive!=undefined" [disableRouterLink]="true" [partId]="hardDrive.id" [name]="hardDrive.name" [imageUrl]="hardDrive.imageUrl" [comments]="hardDrive.commentsCount" [rating]="hardDrive.rating" (click)="bindProperty(hardDrive,'hard-drive',false)">
            <ng-container specification>
                <div>Capacity: {{hardDrive.capacity}}</div>
                <div>Cache: {{hardDrive.cache}} MB</div>
                <div>Type: {{hardDrive.type | uppercase}}</div>
                <div>Interfaces: {{hardDrive.interfaces}}</div>
            </ng-container>
        </app-part>
  </div>
    <app-motherboard [@fadeInOnEnter] *ngIf="selectedType=='motherboard'" [creator]="true" (part)="bindProperty($event,'motherboard',true)"></app-motherboard>
    <app-processors [@fadeInOnEnter] *ngIf="selectedType=='processor'" [creator]="true" (part)="bindProperty($event,'processor',true)"></app-processors>
    <app-case [@fadeInOnEnter] *ngIf="selectedType=='case'" [creator]="true" (part)="bindProperty($event,'case',true)"></app-case>
    <app-memory [@fadeInOnEnter] *ngIf="selectedType=='memory'" [creator]="true" (part)="bindProperty($event,'memory',true)"></app-memory>
    <app-power-supply [@fadeInOnEnter] *ngIf="selectedType=='power-supply'" [creator]="true" (part)="bindProperty($event,'power-supply',true)"></app-power-supply>
    <app-graphics [@fadeInOnEnter] *ngIf="selectedType=='graphics'" [creator]="true" (part)="bindProperty($event,'graphics',true)"></app-graphics>
    <app-hard-drive [@fadeInOnEnter] *ngIf="selectedType=='hard-drive'" [creator]="true" (part)="bindProperty($event,'hard-drive',true)"></app-hard-drive>
    <app-processor-cooler [@fadeInOnEnter] *ngIf="selectedType=='processor-cooler'" [creator]="true" (part)="bindProperty($event,'processor-cooler',true)"></app-processor-cooler>
    <div class="button-container" *ngIf=" processor && motherboard && case && memory && powerSupply && hardDrive && processorCooler && graphics">
        <app-button (click)="addSet()">Save set</app-button>
    </div>
</div>
