<div class="container-fluid m-0 p-0">
  <section class="pc_white_img section_white">
    <h1 class="text-center" >pcwear</h1>
    <div class="section_intro">
      <div>
        <p >
          Welcome to PCWEAR, where technology meets style! Our website is the
          ultimate destination for computer enthusiasts and fashion-forward
          individuals alike. Step into a world where powerful computing merges
          seamlessly with cutting-edge design.
        </p>
        <p >
          At PCWEAR, we believe that computers should not only perform
          flawlessly but also look incredible. Discover a curated collection of
          top-tier PCs, laptops, and accessories that combine unparalleled
          performance with stunning aesthetics. From sleek minimalist designs to
          bold and vibrant statements, we have the perfect tech gear to match
          your personal style.
        </p>
      </div>
    </div>
    <img src="/assets/img/pc.png" alt="computer" loading="lazy" />
  </section>
  <section class="section_purple pt-5">
    <h1 >tech lover's paradise</h1>
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
      <div class="content_spin" >
        <h3>
          Ready to take your creativity for a spin? Introducing our
          revolutionary Spinning Tool at PCWEAR!
        </h3>
        <p>
          Say goodbye to mundane ideas and hello to limitless possibilities. Let
          your imagination soar as you effortlessly generate unique and
          captivating content
        </p>
      </div>
    </div>
  </section>
  <section id="about_us" class="section_white">
    <div class="second_pc_image">
      <img loading="lazy" src="/assets/img/zx.png" alt="" srcset="" />
      <p class="first" >
        We cater to all tech enthusiasts, from gamers seeking high-performance
        rigs to creative professionals looking for sleek and powerful tools.Our
        expertly crafted articles and guides keep you up-to-date with the latest
        trends, tips, and industry insights, ensuring you stay at the forefront
        of the tech world.
      </p>
    </div>
  </section>
  <section class="section_purple d-flex flex-column">
    <div>
      <h1 class="pt-5" >Join the PCWEAR Community</h1>
    </div>
    <div class="d-flex gap-5 justify-content-center align-items-center p-5 flex-wrap" >
      <div class="form">
        <div class="card">
          <div class="image">
            <img src="/assets/img/1.jpg" alt="" srcset="" loading="lazy" />
          </div>
          <div class="text-and-button">
            <p class="text-center">
              Introducing the PCWEAR Forum: Your Gateway to Tech Discourse and
              Inspiration!
            </p>
            <div class="form-button">
              <app-button [routerLink]="_accountService.user==undefined ?'../login' : '../forum'">Join now!</app-button>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="card">
          <div class="image">
            <img src="/assets/img/2.jpg" alt="" srcset="" loading="lazy" />
          </div>
          <div class="text-and-button">
            <p class="text-center">
              PCWEAR Computer Accessories: Elevate Your Setup to New Heights!
            </p>
            <div class="form-button">
              <app-button [routerLink]="_accountService.user==undefined ?'../login' : '../forum'">Join now!</app-button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="form">
        <div class="card">
          <div class="image">
            <img src="/assets/img/3.jpg" alt="" srcset="" loading="lazy" />
          </div>
          <div class="text-and-button">
            <p class="text-center">
              PCWEAR Hardware Components: Unleash the Power Within!
            </p>
            <div class="form-button">
                <app-button [routerLink]="_accountService.user==undefined ?'../login' : '../forum'">Join now!</app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="pb-4">we are waiting for you!</h2>
    <span class="loader"></span>
  </section>
  <section id="video_section" class="section_white">
    <div>
    </div>
  </section>
  <section>
    <!-- <button (click)="openPopup()">click</button> -->
  </section>
</div>