@import "../../../variables.scss";
h2 {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-align: center;
}
.pc_white_img {
  img {
    display: block;
    margin: auto;
  }
}
.section_intro {
  p {
    font-size: 1.3rem;
    font-style: italic;
    padding-left: 25px;
    width: 50%;
  }
}
.box_spin_pc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  img {
    position: absolute;
    bottom: 10px;
  }
}
.content_spin {
  display: flex;
  flex-direction: column;
  width: 50%;
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}
.keyboard_section {
  img {
    height: 500px;
  }
}
.second_pc_image {
  position: relative;
  img {
    width: 1015px;
    transform: rotate(180deg);
  }
  .first {
    font-size: 1.2rem;
    color: white;
    width: 225px;
    position: absolute;
    top: 20px;
    left: 200px;
  }
}
#about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1220px) {
  .pc_white_img {
    img {
      width: 700px;
      display: block;
      margin: auto;
    }
  }
  .second_pc_image {
    img {
      z-index: 1;
      width: 700px;
      transform: rotate(180deg);
    }
    .first {
      font-size: 0.8rem;
      color: white;
      width: 150px;
      position: absolute;
      top: 10px;
      left: 140px;
    }
  }
  .content_spin {
    text-align: center;
    width: 100%;
  }
  .section_intro {
    p {
      width: 100%;
    }
  }
}
.form {
  height: 400px;
  width: 300px;
  transition: all 0.2s;
  cursor: pointer;
  flex-direction: column;
}

.card {
  padding:0;
  width: inherit;
  height: inherit;
  overflow: hidden;
  .text-and-button{
    height: calc(400px - 160px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
    p {
    font-size: 1.2rem;
    }
  }
  .image {
    height: 160px;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      transition: 1s;
    }
  }
  img:hover {
    transform: scale(1.1);
  }
}

.form:hover {
  transform: scale(1.04) rotate(1deg);
}
.form-button{
  justify-content: center;
  button {
    border-radius: $border-radius-input;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s;
    background-color: white;
    color: black;
    box-shadow:$normal-shadow;
  }
  button:hover {
    transform: scale(1.1);
  }
}
