<div class="main-container">
    <ng-container *ngIf="parts$ | async as parts$">
        <app-toolbar [findPopupName]="'search-powerSupply'" (resetEvent)="resetFilter()" [dataLength]="parts$.length" [currentPage]="page" [currentPageSize]="pageSize" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
        </app-toolbar>
        <div class="container part-container">
            <ng-container *ngIf="parts$.length>0">
                <app-part *ngFor="let part of parts$" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating">
                    <ng-container specification>
                        <div>Watttage: {{part.wattage}} W</div>
                        <div>Color: {{part.color | titlecase}}</div>
                        <div>Modular: {{part.modular | titlecase}}</div>
                        <div>Efficiency: {{part.efficiency | titlecase}}</div>
                        <div>Type: {{part.type | uppercase}}</div>
                    </ng-container>
                </app-part>
            </ng-container>
        </div>
    </ng-container>
</div>