<div class="main-container">
    <ng-container *ngIf="parts$ | async as parts$; else loader">
        <app-toolbar [findPopupName]="'search-graphics'" (resetEvent)="resetFilter()" [dataLength]="parts$.length" [currentPage]="page" [currentPageSize]="pageSize" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
            <ng-container bar>
                <app-add-part [admin]="true" [explenation]="'Add graphics'" [popupName]="'add-graphics'"></app-add-part>
            </ng-container>
        </app-toolbar>
        <div class="container part-container">
            <ng-container *ngIf="parts$.length>0 else noResult">
                <ng-container *ngIf="!creator">
                    <app-part *ngFor="let part of parts$" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating" [favourite]="part.favourites">
                        <ng-container edit-button>
                            <app-edit [poupName]="'add-graphics'" [data]="part"></app-edit>
                        </ng-container>
                        <ng-container specification>
                            <div>Chipset: {{part.chipset}}</div>
                            <div>Memory: {{part.memory}}</div>
                            <div>Core Clock: {{part.coreClock}} GHz</div>
                            <div>Boost Clock: {{part.boostClock}} GHz</div>
                            <div>Length: {{part.length}}</div>
                            <div>Color: {{part.color | titlecase}}</div>
                        </ng-container>
                    </app-part>
                </ng-container>
                <ng-container *ngIf="creator">
                    <app-part *ngFor="let part of parts$"  [disableRouterLink]="true" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating" (click)="emitPart(part)" >
                        <ng-container specification>
                            <div>Chipset: {{part.chipset}}</div>
                            <div>Memory: {{part.memory}}</div>
                            <div>Core Clock: {{part.coreClock}} GHz</div>
                            <div>Boost Clock: {{part.boostClock}} GHz</div>
                            <div>Length: {{part.length}}</div>
                            <div>Color: {{part.color | titlecase}}</div>
                        </ng-container>
                    </app-part>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noResult>
    <app-empty-state [text]="'No graphics card found'"></app-empty-state>
</ng-template>
