<ng-container *ngIf="!isVisible">
    <div class="icon" (click)="openChat()"></div>
</ng-container>

<ng-container *ngIf="isVisible">
    <div class="chat-container">
        <div class="chat-header">
            <h1>Public chat</h1>
            <div class="dot" [ngClass]="_hubService.isSuccessfulyConnected ? 'success' : 'failed'"></div>
            <div class="options">
                <div class="minimalize" (click)="minimalizeChat()"></div>
                <div class="close" (click)="closeChat()"></div>
            </div>
        </div>
        <div class="chat-messages">
            <div class="message" *ngFor="let message of _hubService.message">
                <div class="message-username">{{message.userName }}</div>
                <div class="message-other">
                    <span>{{message.message }}</span>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <form>
            <input type="text" placeholder="Write a message...">
            <div class="send"></div>
            </form>
        </div>

    </div>
</ng-container>