<div #popupBackground class="popup-background" appLoader [isWaitting]="waiting" appNoAccess [isAccessed]="access">
  <div *ngIf="!waiting && isVisible && access" class="popup-container" tabindex="-1" [@bounceInOnEnter] [@bounceOutOnLeave]>
      <div >
        <div >
          <div class="header">
              <ng-content select="[header]">

              </ng-content>
              <div class="close" (click)="closePopup()"></div>
          </div>
          <div class="body">
              <ng-content select="[body]">
                  
              </ng-content>
          </div>
          <div class="footer">
              <ng-content select="[footer]">
                  
              </ng-content>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="access==false" class="for-exit-no-access-state">
      <app-button  [isActive]="true" (click)="closePopup()">Back</app-button>
  </div>
</div>


