@import '../../../variables.scss';
.popup-background{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    background-color: rgba(224,224,245,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.popup-container{
    box-sizing: border-box;
    box-shadow: $normal-shadow;
    background-color: white;
    color: black;
    border-radius: 1.25rem;
    padding: 1rem ;
    min-width: 500px;
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .body{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
.close{
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/svg/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
////loader animation
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 $color-purple;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: $color-purple;;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 $color-purple;;
  }
  50% {
    box-shadow: 0 0 0 $color-purple;;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 $color-purple;;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
