<div #popupBackground class="popup-background">
  <div *ngIf="!waiting && isVisible" class="popup-container" tabindex="-1" [@bounceInOnEnter] [@bounceOutOnLeave]>
      <div >
        <div >
          <div class="header">
              <ng-content select="[header]">

              </ng-content>
              <div class="close" (click)="closePopup()"></div>
          </div>
          <div class="body">
              <ng-content select="[body]">
                  
              </ng-content>
          </div>
          <div class="footer">
              <ng-content select="[footer]">
                  
              </ng-content>
          </div>
        </div>
      </div>
  </div>
  <span *ngIf="waiting && isVisible" class="loader" [@bounceInOnEnter] [@bounceOutOnLeave]></span>
</div>


