<div class="thread" [@fadeInOnEnter]>
    <div class="content">
        <div class="header">
            <div class="category-header">
                <app-category-label *ngFor="let category of thread.categories"  [bgColor]="category.bgColor" [color]="category.color" [name]="category.name"></app-category-label>
            </div>
            <div class="date">
                <div>{{thread.createDate | date : 'short'}}</div>
                <div *ngIf="link" class="react home" [routerLink]="['./thread']" appTooltip explenation="view thread" [queryParams]="{id: thread.id,title: thread.title }"></div>
            </div>
        </div>
        <div class="description">
            <div class="description-content">
                <app-user-icon-circle [path]="thread.pathUserImage" [roleId]="thread.roleId" [text]="thread.user"></app-user-icon-circle>
                <div>
                    <div class="main">
                        <h5>Thread</h5>
                        <p>{{thread.title | artilce}}</p>
                    </div>
                    <div class="main">
                        <h5>Issue description</h5>
                        <p>{{thread.description  | artilce}}</p>
                    </div>
                </div>
            </div>
            <div class="reactions" >
                <div>
                    <div [ngClass]="thread.currentLike==1 ?'like-filled' : 'like'" appTooltip explenation="like" class="react" [@tada]="thread.currentLike==1" (click)="addReaction(thread.id,1,thread)"></div>
                    <div class="counter">{{thread.likes}}</div>
                </div>
                <div>
                    <div [ngClass]="thread.currentLike==-1 ?'dislike-filled' : 'dislike'" appTooltip explenation="dislike" class="react" [@tada]="thread.currentLike==-1" (click)="addReaction(thread.id,-1,thread)"></div>
                    <div class="counter">{{thread.dislikes}}</div>
                </div>
                <div>
                    <div class="react seen"  appTooltip explenation="Views"></div>
                    <div class="counter">{{thread.views}}</div>
                </div>
            </div>
        </div>
    </div>
</div>