<div class="main-container">
    <div class="user-container">
        <div *ngIf="getUser() else loading" class="form">
            <div class="card">
                <div class="user" *ngIf="imageSrc else loading">
                    <img [src]="imageSrc" alt="user image" width="100" height="100" style="border-radius: 50%;">
                    <label for="file-upload" class="icon add" appTooltip [explenation]="'Add image'"></label>
                    <label *ngIf="uploaded" class="icon save" appTooltip [explenation]="'Save changes'" (click)="upload()"></label>
                    <input type="file" id="file-upload" (change)="onFilechange($event)" accept="image/*">
                   <div *ngIf="progress!=0" [@bounceInOnEnter] [@bounceOutOnLeave] class="progress-bar">
                        <div class="fill" [style.width.%]="progress">
                            <span>{{progress}}%</span>
                        </div>
                   </div>
                </div>
                <div class="form-element">
                    <label>User name</label>
                    <div class="to-edit">
                        <input disabled type="text" [value]="getUser().userName">
                        <div class="edit"></div>
                    </div>
                </div>
                <div class="form-element" >
                    <label>Password</label>
                    <div class="to-edit">
                         <input disabled type="password" value="example">
                         <div class="edit"></div>
                    </div>
                </div>
                <div class="form-element">
                    <label>Email</label>
                    <div class="to-edit">
                        <input disabled [value]="getUser().email">
                        <div class="edit"></div>
                    </div>
                </div>
                <div class="form-element">
                    <label>Role</label>
                    <input disabled [value]="getUser().roleId ">
                </div>
                <div class="form-element">
                    <label>Name</label>
                    <div class="to-edit">
                        <input disabled [value]="getUser().personalData.name ">
                        <div class="edit"></div>
                    </div>
                </div>
                <div class="form-element">
                    <label>Surname</label>
                    <div class="to-edit">
                        <input disabled [value]="getUser().personalData.surname">
                        <div class="edit"></div>
                    </div>
                    
                </div>
                <div class="form-element">
                    <label>Phone number</label>
                    <div class="to-edit">
                        <input disabled [value]="getUser().personalData.phoneNumber">
                        <div class="edit"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div appLoader [isWaitting]="true"></div>
</ng-template>
