<app-popup-template (close)="exit()">
    <ng-container header>
        Search by
    </ng-container>
    <ng-container body>
        <form [formGroup]="filterForm" #form="ngForm" >
            <div class="form-element">
                 <label>Name</label>
                 <input type="text" formControlName="name" >
                 <div class="dropdown">
                    <div *ngFor="let name of suggestionName$ | async" class="suggestion" (click)="bindProperty(name,'name')">{{name}}</div>
                 </div>
             </div>
             <div class="form-element">
                <label>Type</label>
                <input type="text" formControlName="type" >
                <div class="dropdown">
                   <div *ngFor="let type of suggestionType$ | async" class="suggestion" (click)="bindProperty(type ,'type')">{{type }}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Efficiency</label>
                <input type="text" formControlName="efficiency" >
                <div class="dropdown">
                   <div *ngFor="let efficiency of suggestionEfficiency$ | async" class="suggestion" (click)="bindProperty(efficiency ,'efficiency')">{{efficiency }}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Wattage</label>
                <input type="number" formControlName="wattage" >
                <div class="dropdown">
                   <div *ngFor="let wattage of suggestionWattage$ | async" class="suggestion" (click)="bindProperty(wattage ,'wattage')">{{wattage}}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Modular</label>
                <input type="text" formControlName="modular" >
                <div class="dropdown">
                   <div *ngFor="let modular of suggestionModular$ | async" class="suggestion" (click)="bindProperty(modular ,'modular')">{{modular}}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Color</label>
                <input type="text" formControlName="color" >
                <div class="dropdown">
                   <div *ngFor="let color of suggestionColor$ | async" class="suggestion" (click)="bindProperty(color ,'color')">{{color}}</div>
                </div>
            </div>
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="resetFilter()">Reset</app-button>
        <app-button [isActive]="true" (click)="saveFilter()">Add</app-button>
    </ng-container>
</app-popup-template>