<app-popup-template (close)="exit()">
    <ng-container header>
        {{data==undefined ? 'Add memory' : 'Edit memory'}}
    </ng-container>
    <ng-container body>
        <form [formGroup]="newForm" #form="ngForm">
            <div class="form-element">
                 <label>Name</label>
                 <input type="text" formControlName="name" [ngClass]=" form.submitted && !newForm.get('name')?.valid ? 'is-invalid' : ''">
                 <ng-container *ngIf="form.submitted && !newForm.get('name')?.valid">
                     <div class="invalid-feedback" >This field is required</div>
                 </ng-container>
             </div>
             <div class="form-element">
                <label>Image Url</label>
                <input type="text" formControlName="imageUrl" [ngClass]=" form.submitted && !newForm.get('imageUrl')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('imageUrl')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <img [src]="newForm.value.imageUrl" onerror ="this.src = 'assets/svg/default-image.svg'" alt="photo" srcset="" width="100px" height="100px">
            </div>
            <div class="form-element">
                <label>Speed</label>
                <input type="number" formControlName="speed" [ngClass]=" form.submitted && !newForm.get('speed')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('speed')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Modules lower</label>
                <input type="number" formControlName="modulesLower" [ngClass]=" form.submitted && !newForm.get('modulesLower')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('modulesLower')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Modules upper</label>
                <input type="number" formControlName="modulesUpper" [ngClass]=" form.submitted && !newForm.get('modulesUpper')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('modulesUpper')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Cl</label>
                <input type="number" formControlName="cl" [ngClass]=" form.submitted && !newForm.get('cl')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('cl')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
            <div class="form-element">
                <label>Color</label>
                <input type="text" formControlName="color" [ngClass]=" form.submitted && !newForm.get('color')?.valid ? 'is-invalid' : ''">
                <ng-container *ngIf="form.submitted && !newForm.get('color')?.valid">
                    <div class="invalid-feedback" >This field is required</div>
                </ng-container>
            </div>
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="save(form,$event)">Add</app-button>
    </ng-container>
</app-popup-template>