<nav class="basic_navbar">
  <input type="checkbox" id="check" class="check" />
  <label for="check" class="menu_btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <nav id="drop_down_menu" class="drop_down_menu">
    <ul>
      <li><a [routerLink]="['home']" (click)="closeMenu()">home</a></li>
      <li><a [routerLink]="['login']" (click)="closeMenu()">login</a></li>
      <li><a [routerLink]="['register']" (click)="closeMenu()">register</a></li>
    </ul>
  </nav>
  <nav class="inline_menu">
    <h1>pcwear</h1>
    <ul>
      <li><app-button [routerLink]="['home']">home</app-button></li>
      <li><app-button [routerLink]="['login']">login</app-button></li>
      <li><app-button [routerLink]="['register']">register</app-button></li>
    </ul>
  </nav>
</nav>
