<nav class="basic_navbar">
  <input #check type="checkbox" id="check" class="check" />
  <label for="check" class="menu_btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <nav id="drop_down_menu" class="drop_down_menu">
    <ul>
      <li><a [routerLink]="['home']" (click)="closeMenu()">home</a></li>
      <li *ngIf="_accountService.user!=undefined" [routerLink]="['forum']">forum</li>
      <li *ngIf="_accountService.user!=undefined"><a [routerLink]="['login']" (click)="closeMenu()">login</a></li>
      <li *ngIf="_accountService.user!=undefined"><a [routerLink]="['register']" (click)="closeMenu()">register</a></li>
    </ul>
  </nav>
  <nav class="inline_menu">
    <h1>pcwear</h1>
    <ul #container>
      <li><app-button [routerLink]="['home']" [highLightCurrentRoute]="true">home</app-button></li>
      <li ><app-button [routerLink]="['forum']" [highLightCurrentRoute]="true">forum</app-button>
        <app-dropdown>
          <div>x</div>
          <div>y</div>
          <div>z</div>
        </app-dropdown>
      </li>
      <li ><app-button [routerLink]="['components']" [highLightCurrentRoute]="true">components</app-button>
        <app-dropdown>
          <div>x</div>
          <div>y</div>
          <div>z</div>
        </app-dropdown>
      </li>
      <li ><app-button [isActive]="true"><div *ngIf="_accountService.user==undefined else user">account</div></app-button>
        <app-dropdown>
          <div *ngIf="_accountService.user==undefined" [routerLink]="['../login']">login</div>
          <div *ngIf="_accountService.user==undefined" [routerLink]="['../register']">register</div>
          <div *ngIf="_accountService.user!=undefined" [routerLink]="['']">my account</div>
          <div *ngIf="_accountService.user!=undefined" [routerLink]="['']">settings</div>
          <div *ngIf="_accountService.user!=undefined" [routerLink]="['../home']" (click)="logout()">logout</div>
        </app-dropdown>
      </li>
    </ul>
  </nav>
</nav>
<ng-template #user>
  <div class="user">
    <div class="icon"></div>
    <div>{{_accountService.user.userName}}</div>
  </div>
</ng-template>
