<nav class="basic_navbar">
  <input #check type="checkbox" id="check" class="check" />
  <label for="check" class="menu_btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <nav id="drop_down_menu" class="drop_down_menu">
    <ul>
      <li><a [routerLink]="['home']" (click)="closeMenu()">home</a></li>
      <li *ngIf="getUser()!=undefined"><a [routerLink]="['forum']" (click)="closeMenu()">forum</a></li>
      <li *ngIf="getUser()!=undefined"><a [routerLink]="['login']" (click)="closeMenu()">login</a></li>
      <li *ngIf="getUser()!=undefined"><a [routerLink]="['register']" (click)="closeMenu()">register</a></li>
    </ul>
  </nav>
  <nav class="inline_menu">
    <h1>pcwear</h1>
    <ul #container>
      <li><app-button-navigation [routerLink]="['home']">home</app-button-navigation></li>
      <li ><app-button-navigation [routerLink]="['forum']">forum</app-button-navigation>
        <app-dropdown>
          <app-button-navigation [subButton]="true">x</app-button-navigation>
          <app-button-navigation [subButton]="true">y</app-button-navigation>
          <app-button-navigation [subButton]="true">z</app-button-navigation>
        </app-dropdown>
      </li>
      <li ><app-button-navigation [routerLink]="['components']">components</app-button-navigation>
        <app-dropdown>
          <app-button-navigation [subButton]="true">x</app-button-navigation>
          <app-button-navigation [subButton]="true">y</app-button-navigation>
          <app-button-navigation [subButton]="true">z</app-button-navigation>
        </app-dropdown>
      </li>
      <li ><app-button-navigation [routerLink]="['account']" ><div *ngIf="getUser()==undefined else user">account</div></app-button-navigation>
        <app-dropdown>
          <app-button-navigation *ngIf="getUser()==undefined" [subButton]="true" [routerLink]="['../login']">login</app-button-navigation>
          <app-button-navigation *ngIf="getUser()==undefined" [subButton]="true" [routerLink]="['../register']">register</app-button-navigation>
          <app-button-navigation *ngIf="getUser()!=undefined" [subButton]="true" [routerLink]="['']">my account</app-button-navigation>
          <app-button-navigation *ngIf="getUser()!=undefined" [subButton]="true" [routerLink]="['../account/settings']">settings</app-button-navigation>
          <app-button-navigation *ngIf="getUser()!=undefined" [subButton]="true" [routerLink]="['../home']" (click)="logout()">logout</app-button-navigation>
        </app-dropdown>
      </li>
    </ul>
  </nav>
</nav>
<ng-template #user>
  <div class="user">
    <div class="icon"></div>
    <div>{{getUser().userName}}</div>
  </div>
</ng-template>
