<app-popup-template [isVisible]="isVisible" [waiting]="waiting" (close)="exit()">
    <ng-container header>
        Search by
    </ng-container>
    <ng-container body>
        <form [formGroup]="filterForm" #form="ngForm" >
            <div class="form-element">
                 <label>Title</label>
                 <input type="text" formControlName="title" >
             </div>
             <div class="form-element">
                <label>Description</label>
                <input type="text" formControlName="description" >
            </div>
            <div class="form-element">
                <label>Category</label>
                <input type="text" formControlName="category" >
            </div>
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="resetFilter()">Reset</app-button>
        <app-button [isActive]="true" (click)="saveFilter()">Add</app-button>
    </ng-container>
</app-popup-template>