<app-popup-template (close)="exit()">
    <ng-container header>
        Search by
    </ng-container>
    <ng-container body>
        <form [formGroup]="filterForm" #form="ngForm" >
            <div class="form-element">
                 <label>Name</label>
                 <input type="text" formControlName="name" >
                 <div class="dropdown">
                    <div *ngFor="let name of suggestionName$ | async" class="suggestion" (click)="bindProperty(name,'name')">{{name}}</div>
                 </div>
             </div>
             <div class="form-element">
                <label>Capacity</label>
                <input type="number" formControlName="capacity">
                <div class="dropdown" >
                    <div  *ngFor="let capacity of suggestionCapacity$ | async" class="suggestion" (click)="bindProperty(capacity,'capacity')"> {{capacity}}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Type</label>
                <input type="text" formControlName="type" >
                <div class="dropdown">
                   <div *ngFor="let type of suggestionType$ | async" class="suggestion" (click)="bindProperty(type,'type')">{{type}}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Cache</label>
                <input type="number" formControlName="cache">
                <div class="dropdown" >
                    <div  *ngFor="let cache of suggestionCache$ | async" class="suggestion" (click)="bindProperty(cache,'cache')"> {{cache}}</div>
                </div>
            </div>
            <div class="form-element">
                <label>Interfaces</label>
                <input type="text" formControlName="interfaces" >
                <div class="dropdown">
                   <div *ngFor="let interface of suggestionInterfaces$ | async" class="suggestion" (click)="bindProperty(interface,'interfaces')">{{interface}}</div>
                </div>
            </div>
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="resetFilter()">Reset</app-button>
        <app-button [isActive]="true" (click)="saveFilter()">Add</app-button>
    </ng-container>
</app-popup-template>