@import '../../../variables.scss';
.main-container{
    width: 800px;
    display: flex;
    max-height: 250px;
    gap: 1rem;
}
.list-container{
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius-input;
        background: grey;
    }
    .thread{
        width: 100%;
        padding: 0.5rem;
        background-color: $inactive;
        box-shadow: $normal-shadow;
        border-radius: $border-radius-background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .options{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .icon{
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    scale: 1.1;
                }
            }
        }
        
    }
}
.operations-container{
    display: flex;
    flex-direction: column;
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 0.5rem 0.5rem;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius-input;
            background: grey;
        }
        .action-description{
            background-color: $inactive;
            border-radius: $border-radius-background;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            box-shadow: $normal-shadow;
            .icon{
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    
}
.undo{
    cursor: pointer;
    background-image: url('../../../assets/svg/undo.svg');
}
.arrow-right{
    background-image: url('../../../assets/svg/arrow-right.svg');
}
.deleted{
    background-image: url('../../../assets/svg/delete.svg');
}
.accepted{
    background-image: url('../../../assets/svg/accept.svg');
}
.add{
    background-image: url('../../../assets/svg/add-green.svg');
}
.remove{
    background-image: url('../../../assets/svg/remove-red.svg');
}