<div class="main-container">
    <ng-container *ngIf="parts$ | async as parts$">
        <app-toolbar [findPopupName]="'search-case'" (resetEvent)="resetFilter()" [dataLength]="parts$.length" [currentPage]="page" [currentPageSize]="pageSize" (pageSize)="changePageSize($event)" (next)="pagination($event)" (previous)="pagination($event)">
        </app-toolbar>
        <div class="container part-container">
            <ng-container *ngIf="parts$.length>0">
                <app-part *ngFor="let part of parts$" [partId]="part.id" [name]="part.name" [imageUrl]="part.imageUrl" [comments]="part.commentsCount" [rating]="part.rating">
                    <ng-container specification>
                        <div>Type: {{part.type | uppercase}}</div>
                        <div>Color: {{part.color | titlecase}}</div>
                        <div>Side Panel: {{part.sidePanel}}</div>
                        <div>External Volume: {{part.externalVolume}} L</div>
                    </ng-container>
                </app-part>
            </ng-container>
        </div>
    </ng-container>
</div>