<div class="container-fluid d-flex justify-content-center">
    <div class="--card--style">
        <form [formGroup]="loginForm">
            <div class="form-group mt-2">
                <label class="form-label">Email</label>
                <input class="form-control" formControlName="email" type="email" [ngClass]="(loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors ? 'is-invalid': ''">
                <div class="invalid-feedback">This field is required</div>
            </div>
            <div class="form-group mt-2">
                <label class="form-label">Password</label>
                <input class="form-control" formControlName="password" type="password" [ngClass]="(loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors ? 'is-invalid': ''">
                <div class="invalid-feedback">This field is required</div>
                <div style="color: #dc3545; font-size: 0.875em;"  class="">{{loginFailed}}</div>
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-success mt-3" type="submit" (click)="login()">Login</button>
        </form>
    </div>
</div>
