.form{
    position: relative;
    display: flex;
  }
  @media screen and (max-width: 550px) {
    .form{
      .card{
        width: 200px;
      }
    }
}
  .card{
    width: 300px;
    border: 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: $normal-shadow;
    backdrop-filter: blur(10px);
    z-index: 2;
  }
  .form::before{
    content: '';
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    @keyframes move-up6 {
      to {
        transform: translateY(-10px);
      }
    }
  }
  .form::after{
    content: '';
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    right: -25px;
    z-index: 1;
    animation: move-down1 2s ease-in infinite alternate-reverse;
    @keyframes move-down1 {
      to {
        transform: translateY(10px);
      }
    }
  }
  .form-element{
    position: relative;
    margin-top: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label{
      margin-left: 1rem;
      user-select: none;
    }
    input{
      border-radius: $border-radius-input;
      border: none;
      padding: 0.2rem 1rem;
      box-shadow: $normal-shadow;
      border: 1px solid transparent;
    }
    textarea{
      border-radius: $border-radius-background;
      border: none;
      outline: none;
      padding: 0.2rem 1rem;
      box-shadow: $normal-shadow;
      border: 1px solid transparent;
  }
    input:focus{
      outline: none;
    }
    .invalid-feedback{
      color: red;
      font-size: $font-small;
      position: absolute;
      margin-left: 1rem;
      top: 3.4rem;
    }
  }
  .form-button{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    button{
      color: white;
      background-color: $color-purple;
      padding: 0.2rem 1rem;
      border-radius: $border-radius-input;
      border: none;
      box-shadow: $normal-shadow;
      transition: 0.3s;
    }
    button:hover{
      scale: 1.05;
    }
  }
.ng-invalid.ng-submitted{
    .ng-invalid{
      border: 1px solid red;
      background-image: url('../assets/svg/icon-failed.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
    input.ng-invalid{
      border: 1px solid red;
      background-image: url('../assets/svg/icon-failed.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
    input.ng-valid{
      border: 1px solid green;
      background-image: url('../assets/svg/icon-approved.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
    textarea.ng-invalid{
      border: 1px solid red;
      background-image: url('../assets/svg/icon-failed.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
    textarea.ng-valid{
      border: 1px solid green;
      background-image: url('../assets/svg/icon-approved.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
  }