// regular style toast
@import "ngx-toastr/toastr";
@import "../variables.scss";
.toast-container .ngx-toastr {
    width: 300px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-radius: $border-radius-background !important;
    background-color: white !important;
    color: black !important;
    font-size: $font-small !important;
    box-shadow: $normal-shadow !important;
    user-select: none !important;
    vertical-align: middle !important;
    a{
        color: blue;
    }
    .toast-close-button {
        color: black;
    }
}
.toast-success {
    background-image: url("../assets/svg/icon-approved.svg");
}
.toast-error {
    background-image: url("../assets/svg//icon-failed.svg");
}
.toast-warning {
    background-image: url("../assets/svg//icon-warning.svg");
}
.toast-info {
    background-image: url("../assets/svg//icon-info.svg");
}