// regular style toast
@import "ngx-toastr/toastr";
@import "../variables.scss";
.toast-container .ngx-toastr {
    width: 400px !important;
    border-radius: $border-radius-background !important;
    background-color: #333 !important;
    font-size: $font-small !important;
    background-size: 35px !important;
    background-position: 10px center !important;
    transition: 0.3s !important;
    box-shadow: $normal-shadow !important;
}

.toast-close-button {
    top: -0.7em !important;
    font-weight: normal !important;
    transition: 0.3s !important;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #ffffff !important;
  opacity: 1 !important;
  scale: 1.3 !important;
}
.toast-success {
    background-image: url("/project/src/assets/svg/icon-approved.svg");
}
.toast-error {
    background-image: url("/project/src/assets/svg/icon-failed.svg");
}
.toast-warning {
    background-image: url("/project/src/assets/svg/icon-warning.svg");
}
.toast-info {
    background-image: url("/project/src/assets/svg/icon-info.svg");
}