<div class="login-container section_purple">
    <div class="form" >
        <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="onSubmit()" class="card" >
            <div class="form-element">
                <label>Email</label>
                <input name="email"  formControlName="email" type="email" autocomplete="username"
                    [ngClass]="(loginForm.get('email')?.dirty || form.submitted) && !loginForm.get('email')?.valid ? 'is-invalid' : ''">
                <ng-container
                    *ngIf="(loginForm.get('email')?.dirty || form.submitted) && !loginForm.get('email')?.valid && !loginForm.get('email')?.errors?.['serverError']">
                    <div class="invalid-feedback">Please provide a valid email</div>
                </ng-container>
                <ng-container *ngIf="loginForm.get('email')?.errors?.['serverError']">
                    <div style="color: #dc3545; font-size: 0.875em">
                        {{loginForm.get('email')?.errors?.['serverError']}}
                    </div>
                </ng-container>
            </div>
            
            <div class="form-element">
                <label >Password</label>
                <input  formControlName="password" type="password" autocomplete="current-password"
                    [ngClass]="(loginForm.get('password')?.dirty || form.submitted) && !loginForm.get('password')?.valid ? 'is-invalid' : ''">
                    <ng-container
                        *ngIf="(loginForm.get('password')?.dirty || form.submitted) && !loginForm.get('password')?.valid && !loginForm.get('password')?.errors?.['serverError']">
                        <div class="invalid-feedback" >This field is required</div>
                    </ng-container>
                    <ng-container *ngIf="loginForm.get('password')?.errors?.['serverError']">
                    <div style="color: #dc3545; font-size: 0.875em;">
                        {{loginForm.get('password')?.errors?.['serverError']}}</div>
                    </ng-container>
            </div>
            <div class="form-button">
                <app-button [isActive]="true">Login</app-button>
            </div>    
        </form>
    </div>
</div>