<div
  class="register-container section_purple"
>
  <div class="form">
    <div class="left-side-image-form">
    </div>
    <form
      [formGroup]="registerForm"
      #form="ngForm"
      (ngSubmit)="onSubmit()"
      class="card"
    >
    <div class="form-element">
      <label >Name</label>
      <input
        formControlName="name"
        type="text"
        [ngClass]="
            form.submitted &&
          !registerForm.get('name')?.valid 
            ? 'is-invalid'
            : ''
        "
      />
      <ng-container
        *ngIf="
            form.submitted &&
          !registerForm.get('name')?.valid
        "
      >
        <div class="invalid-feedback">
          {{
            registerForm.get("name")?.hasError("required")
              ? "Name is required"
              : "Maximum length is 15 characters!"
          }}
        </div>
      </ng-container>
    </div>
    <div class="form-element">
      <label >Surname</label>
      <input
        formControlName="surname"
        type="text"
        [ngClass]="
            form.submitted &&
          !registerForm.get('surname')?.valid 
            ? 'is-invalid'
            : ''
        "
      />
      <ng-container
        *ngIf="
            form.submitted &&
          !registerForm.get('surname')?.valid
        "
      >
        <div class="invalid-feedback">
          {{
            registerForm.get("surname")?.hasError("required")
              ? "Surname is required"
              : "Maximum length is 15 characters!"
          }}
        </div>
      </ng-container>
    </div>
    <div class="form-element">
      <label >Email</label>
      <input
        formControlName="email"
        type="email"
        [ngClass]="
          form.submitted &&
          !registerForm.get('email')?.valid
            ? 'is-invalid'
            : ''
        "
      />
      <ng-container
        *ngIf="form.submitted && !registerForm.get('email')?.valid && !registerForm.get('email')?.errors?.['serverError']"
      >
        <div class="invalid-feedback">
          {{
            registerForm.get("email")?.hasError("required")
              ? "Email is required"
              : "Incorrect format!"
          }}
        </div>
      </ng-container>
      <ng-container
        *ngIf="registerForm.get('email')?.errors?.['serverError']"
      >
        <div style="color: #dc3545; font-size: 0.875em">
          {{registerForm.get('email')?.errors?.['serverError']}}
        </div>
      </ng-container>
    </div>
          <div class="form-element">
            <label>Username</label>
            <input
              formControlName="userName"
              type="text"
              [ngClass]=" form.submitted &&
                !registerForm.get('userName')?.valid
                  ? 'is-invalid'
                  : ''
              "
            />
            <ng-container
              *ngIf=" form.submitted && (!registerForm.get('userName')?.valid && !registerForm.get('userName')?.errors?.['serverError'])"
            >
              <div class="invalid-feedback">
                {{
                  registerForm.get("userName")?.hasError("required")
                    ? "User name is required!"
                    : "Maximum length is 15 characters!"
                }}
              </div>
            </ng-container>
            <ng-container
              *ngIf="registerForm.get('userName')?.errors?.['serverError']"
            >
              <div style="color: #dc3545; font-size: 0.875em">
                {{registerForm.get('userName')?.errors?.['serverError']}}
              </div>
            </ng-container>
          </div>
          <div class="form-element">
            <label>Password</label>
            <input
              formControlName="userPassword"
              type="password"
              [ngClass]="
                 form.submitted &&
                !registerForm.get('userPassword')?.valid
                  ? 'is-invalid'
                  : ''
              "
            />
            <ng-container
              *ngIf="
                form.submitted &&
                !registerForm.get('userPassword')?.valid
              "
            >
              <div class="invalid-feedback">
                {{
                  registerForm.get("userPassword")?.hasError("required")
                    ? "User password is required!"
                    : "Password must be complicated"
                }}
              </div>
            </ng-container>
          </div>
          <div class="form-element">
            <label >Confirm password</label>
            <input
              formControlName="userPasswordConfirmed"
              type="password"
              [ngClass]="
                (registerForm.get('userPasswordConfirmed')?.dirty ||
                  form.submitted) &&
                !registerForm.get('userPasswordConfirmed')?.valid
                  ? 'is-invalid'
                  : ''
              "
            />
            <ng-container>
              <div class="invalid-feedback">
                {{
                  registerForm
                    .get("userPasswordConfirmed")
                    ?.hasError("required")
                    ? "This field is required!"
                    : "Must match!"
                }}
              </div>
            </ng-container>
          </div>
          <div class="form-element">
            <label >Phone Number</label>
            <input
              formControlName="phoneNumber"
              type="tel"
              [ngClass]="
                  form.submitted &&
                !registerForm.get('phoneNumber')?.valid
                  ? 'is-invalid'
                  : ''
              "
            />
            <ng-container
              *ngIf="
                  form.submitted &&
                !registerForm.get('phoneNumber')?.valid
              "
            >
              <div class="invalid-feedback">
                {{
                  registerForm
                    .get("phoneNumber")
                    ?.hasError("required")
                    ? "Number is required"
                    : "Minimum length is 9 characters!"
                }}
              </div>
            </ng-container>
          </div>
        <div class="form-button">
          <div *ngIf="registerForm.valid" class="approved"></div>
          <app-button [isActive]="true">Register</app-button>
        </div>
    </form>
  </div>
</div>
