@import "../../../variables.scss";
.register-container{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side-image-form{
  width: 500px;
  background-image: url('/assets/img/1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  border-radius: $border-radius-background 0 0 $border-radius-background;
}
.card{
  border-radius: 0 $border-radius-background $border-radius-background 0;
}
.form-button{
  position: relative;
  .approved{
    position: absolute;
    z-index: 3;
    height: 30px;
    width: 30px;
    right: 110px;
    top: -15px;
    background-image: url('../../../assets/svg/icon-approved.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: popup 0.3s both;
    @keyframes popup {
      from{
        scale: 0;
      }
      to{
        scale: 1;
      }
    }
  }
}