@import '../../../variables.scss';
.part{
    padding: 1rem;
    border-radius: $border-radius-background;
    background-color: $inactive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: $normal-shadow;
    transition: 0.3s all;
    &:hover{
        scale: 1.05;
    }
    .box{
        width: 235px;
        height: 410px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .img-container{
            display: flex;
            justify-content: center;
            img{
                padding: 0.2rem;
                background-color: white;
                border-radius: $border-radius-background;
                box-shadow: $normal-shadow;
                cursor: pointer;
                }
        }
        .content{
            .comments{
                font-size: $font-small;
            }
            .line{
                background-color: $color-purple-light;
                height: 5px;
                width: 100%;
                border-radius: $border-radius-input;
            }
            .specification{
                padding-top: 0.5rem;
                font-size: $font-small;
            }
        }
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .favourite{
            box-shadow: $normal-shadow;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
        }
    }
}
.heart{
    background-image: url('../../../assets/svg/heart.svg');
}
.heart-filled{
    background-image: url('../../../assets/svg/heart-filled.svg');
}
.icon{
    cursor: pointer;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}