<div class="part" [@fadeInOnEnter]>
    <div class="box">
        <div class="img-container">
            <a [routerLink]="['/component/comments']" [queryParams]="{id: partId,name: name}"><img [src]="imageUrl"  width="200" height="200" alt="" srcset=""></a>
        </div>
        <div class="content">
            <app-stars [comments]="comments" [rating]="rating"></app-stars>
            <div>{{[name]}}</div>
            <div class="line"></div>
            <div class="specification">
                <ng-content   ng-content select="[specification]">
                </ng-content>
            </div>
        </div> 
    </div>
    <div class="buttons" *ngIf="check">
        <div>
            <div class="favourite icon" [ngClass]="favourite ? 'heart-filled':'heart'" [@tada]="favourite" (click)="handleFavourite()"></div>
        </div>
        <app-button (click)="openPopup('assess-part',partId,name)">Assess</app-button> 
    </div>
</div>
