<app-popup-template (close)="exit()">
    <ng-container header>
        Assess part
    </ng-container>
    <ng-container body>
        <form [formGroup]="assessmentForm" #form="ngForm">
            <div class="form-element">
                 <label>Assessment</label>
                 <app-stars [assess]="true" (assessment)="handleAssess($event)"></app-stars>
                 <ng-container *ngIf="form.submitted && !assessmentForm.get('assessmentNumber')?.valid">
                     <div style="color: #dc3545; font-size: 0.875em" >This field is required</div>
                 </ng-container>
             </div>
             <div class="form-element">
                 <label>Comment</label>
                 <textarea formControlName="comment"></textarea>
             </div> 
         </form>
    </ng-container>
    <ng-container footer>
        <app-button (click)="exit()">Cancle</app-button>
        <app-button [isActive]="true" (click)="addAssessment(form,$event)">Add</app-button>
    </ng-container>
</app-popup-template>