.--card--style{
    width: 300px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(249, 249, 249);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
}