<div class="toolbar">
    <div class="arrow-box arrow-box-left">
        <app-button [explenation]="'previous'" [custom]="true">
            <div *ngIf="currentPage>1" class="circle-button arrow-left" (click)="previous.emit(currentPage-1)"></div>
        </app-button>
    </div>
    <div class="bar">
        <app-button [explenation]="'Find'" [custom]="true">
            <div class="circle-button find" (click)="openFilter()"></div>
        </app-button>
        <app-button [explenation]="'reset filter'" [custom]="true">
            <div class="circle-button reset-filter" (click)="resetFilter()"></div>
        </app-button>
        <ng-content select="[bar]">

        </ng-content>
    </div>
    <div class="d-flex">
        <div class="arrow-box arrow-box-right">
            <app-button [explenation]="'next'" [custom]="true">
                <div *ngIf="dataLength==currentPageSize" class="circle-button arrow-right" (click)="next.emit(currentPage+1)" ></div>
            </app-button>
        </div>
        <div class="page-size-container" #filed>
            <div class="page-size" [ngClass]="isOpen ? 'border-with-dropdown':''" appTooltip [explenation]="'Page Size'" (click)="toggleOpen()">
                {{currentPageSize}}
            </div>
            <div *ngIf="isOpen" class="dropdown">
                <div *ngFor="let size of editSizes" (click)="changePageSize(size)">{{size}}</div>
            </div>
        </div>
    </div>
</div>